<%= stylesheet_link_tag "/stylesheets/sign-in.css" %>

<main class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">Please Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-floating">
      <input id="floatingInput" class="form-control" type="email" name="user[email]" placeholder="lastname.{digit}@osu.edu">
      <label for="floatingInput">Email address</label>
      <%#= f.label :email %>
      <%#= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "lastname.{digit}@osu.edu" %>
    </div>
    <br />
    <div class="form-floating">
      <input id="floatingPassword" class="form-control" type="password" name="user[password]" placeholder="Password">
      <label for="floatingPassword">Password</label>
      <%#= f.label :password %>
      <%#= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</main>