<div id="deleteRecommendationModal<%= recommendation.id %>" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Recommendation!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete the recommendation: CSE <%= recommendation.course_catalog_number %> / <%= recommendation.section_class_number %>
        for <%= recommendation.student_first_name %> <%= recommendation.student_last_name %> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <%= link_to "Delete", user_recommendation_path(current_user.id, recommendation.id, :page=>pageNumber), data: { turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>