<div class="modal fade" tabindex="-1" role="dialog" id="addApplicationModal">
  <% @application = Application.new %>
  <%= form_with model: @application, local: true, url: user_applications_path(current_user.id), method: :post do |form| %>
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">New Application</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <label for="basic-form-input" class="form-label">Academic Year</label>
          <%#= form.label :academic_year %>
          <div class="input-group mb-3">
            <%#= form.select :academic_year, ["2023", "2024", "2025"], class: "form-select", "aria-label" => "Default select example", :required => 'required' %>
            <select class="form-select" aria-label="Default select example" name="application[academic_year]" required>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>

          <label for="basic-form-input" class="form-label">Semester</label>
          <%#= form.label :semester %>
          <div class="mb-3">
            <%#= form.select :semester, ["spring", "summer", "autumn"], class: "form-select", "aria-label" => "Default select example", :required => 'required' %>
            <select class="form-select" aria-label="Default select example" name="application[semester]" required>
              <option value="spring">Spring</option>
              <option value="summer">Summer</option>
              <option value="autumn">Autumn</option>
            </select>
          </div>
          <div class="mb-3">
            <%= form.label :phone %>:
            <%= form.text_field :phone, class: "form-control rounded-3", :required => 'required' %>
          </div>
          <div class="mb-3">
            <%= form.label :address %>:
            <%= form.text_field :address, class: "form-control rounded-3", :required => 'required' %>
          </div>
          <div id="interestedCoursesNewId" class="mb-3">
            <label for="basic-form-input" class="form-label">Interested Courses <button type="button" class="btn btn-outline-primary" onclick="addCourse('New')">add course</button></label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">CSE </span>
              <input type="text" id="basic-form-input" class="form-control" aria-describedby="basic-addon3" name="application[interestedCourses][]" required>
            </div>
          </div>

          <%= form.hidden_field :student_id, value: current_user.id %>
          <%= form.hidden_field :currentPageNumber, value: pageNumber %>

          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Create</button>

          <small class="text-body-secondary">All fields are required to input data excepted for Interested Courses.</small>
          <hr class="my-4">

        </div>
      </div>
    </div>
  <% end %>
</div>
